<!-- TODO actually pass on proper params so new method in action_type_controller works -->
<%= content_tag(:div, :id => "information_type_#{field_number}") do %>
  <%= fields_for(:information_type_decorator) do |f| %>
    <div class='control-group'>
      <%=  f.label(:information_type, 'Type', class: 'control-label') %>
      <div class='controls'>
        <%=  f.select(:information_type, information_types.map{ |type| [type.name, type.key]}, {}, :name => :'information_type_decorator[type][]', :required => true) %>
        <p class='pull-right'>
          <%= link_to_function(raw("<i class='icon-remove icon-white'></i>#{t('actor_type.new.remove_information_type')}"),
                               "SGfM.actor_type.remove_information_type_form(\"#{field_number}\")",
                               :type => :button, :class => 'btn btn-danger') %>
        </p>
      </div>
    </div>

    <div class='control-group'>
      <%= f.label(:required, t('actor_type.new.required'), class: 'control-label') %>
      <div class='controls'>
        <!-- TODO Yes and no are not translated -->
        <%= f.select :required, [[t('yes'), true], [t('no'), false]], :name => 'information_type_decorator[type][required]' %>
      </div>
    </div>

    <div class='control-group'>
      <%= f.label(:searchable, t('actor_type.new.searchable'), class: 'control-label') %>
      <div class='controls'>
        <!-- TODO Yes and no are not translated - only should be able to choose if info type is predefined public-->
        <%= f.select :active, [[t('yes'), true], [t('no'), false]], :name => 'information_type[type][searchable]' %>
      </div>
    </div>
  <% end %>
<% end %>