<% @page_title = t('actor_type.list.title') %>


<div class="row pull-right bottom-margin">
  <%= link_to(t('actor_type.list.new_actor_type'), create_actor_type_path, :class => 'btn btn-primary') %>
</div>

<table class="table table-hover">
  <tr>
    <th><%= t('actor_type.list.name_table') %></th>
    <th><%= t('actor_type.list.key_table') %></th>
  </tr>
  <% for actor_type in @actor_types %>
    <tr>
      <td><%= link_to(actor_type.name, show_actor_type_path(actor_type)) %></td>
      <td><%= actor_type.key %></td>
    </tr>
  <% end %>
</table>