<% @page_title = t('actor_type.new.title') %>


<%= form_for(:actor_type, :url => create_actor_type_path, :html => {:class => 'form-horizontal'}) do |f| %>

  <!--key is no longer needed, key is just english name in lowercase with underscore instead of spaces-->
  <div class="control-group">
    <%= f.label(:'name[en]', t('actor_type.new.name_en'), class: 'control-label') %>
    <div class="controls">
      <%= f.text_field(:'name[en]', placeholder: t('actor_type.new.name_en'), required: true) %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label(:'name[de]', t('actor_type.new.name_de'), class: 'control-label') %>
    <div class="controls">
      <%= f.text_field(:'name[de]', placeholder: t('actor_type.new.name_de'), required: true) %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label(:'name[fr]', t('actor_type.new.name_fr'), class: 'control-label') %>
    <div class="controls">
      <%= f.text_field(:'name[fr]', placeholder: t('actor_type.new.name_fr'), required: true) %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label(:'name[it]', t('actor_type.new.name_it'), class: 'control-label') %>
    <div class="controls">
      <%= f.text_field(:'name[it]', placeholder: t('actor_type.new.name_it'), required: true) %>
    </div>
  </div>

  <div class="page-header">
    <h1><small><%= t('actor.new.information_types') %></small></h1>
  </div>

  <div id="information-type-form"></div>

  <div class="control-group">
    <p>
      <%= button_to_function('Add Information Type',
                             'SGfM.actor_type.add_information_type_form("' + add_information_type_form_path + '")',
                             :type => :button, :class => 'btn btn-medium') %>
    </p>
  </div>

  <div class="form-actions">
    <%= f.submit(t('actor_type.new.create_actor_type'), :class => 'btn btn-primary') %>
  </div>

<% end %>