<%= content_for :admin_tab_bar do %>
    <% render :partial => 'shared/menuebar', :locals => {:actor_type => "active", :info_type => "", :import => "",
                                                         :scope => "", :relationship_type => ""} %>
<% end %>

<% @page_title = t('actor_type.new.title') %>


<%= form_for(:actor_type, :url => create_actor_type_path, :html => {:class => 'form-horizontal'}) do |f| %>

  <div class="page-header">
    <h1><small><%= t('actor_type.new.basics') %></small></h1>
  </div>

  <div class="control-group">
    <%= f.label(:'name_translations[en]', "#{t('actor_type.new.name')} (#{t('lang.en')})", :class => 'control-label') %>
    <div class="controls">
      <%= f.text_field(:'name_translations[en]', :placeholder => t('actor_type.new.name'), :required => true) %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label(:'name_translations[de]', "#{t('actor_type.new.name')} (#{t('lang.de')})", :class => 'control-label') %>
    <div class="controls">
      <%= f.text_field(:'name_translations[de]', :placeholder => t('actor_type.new.name'), :required => true) %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label(:'name_translations[fr]', "#{t('actor_type.new.name')} (#{t('lang.fr')})", :class => 'control-label') %>
    <div class="controls">
      <%= f.text_field(:'name_translations[fr]', :placeholder => t('actor_type.new.name'), :required => true) %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label(:'name_translations[it]', "#{t('actor_type.new.name')} (#{t('lang.it')})", :class => 'control-label') %>
    <div class="controls">
      <%= f.text_field(:'name_translations[it]', :placeholder => t('actor_type.new.name'), :required => true) %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label(:'to_string_pattern', t('actor_type.new.to_string_pattern'), :class => 'control-label') %>
    <div class="controls">
      <%= f.text_field(:'to_string_pattern', :placeholder => t('actor_type.new.to_string_pattern'), :required => true) %>
      <span class="help-block"><%= t('actor_type.new.to_string_pattern_explanation') %></span>
    </div>
  </div>


  <div class="page-header">
    <h1><small><%= t('actor_type.new.information_types') %></small></h1>
  </div>

  <div id="information-type-form"></div>

  <div class="control-group">
    <p>
      <%= button_to_function('Add Information Type',
                             "SGfM.form.add_form(\"#{add_information_type_form_path}\",'information-type-form')",
                             :type => :button, :class => 'btn btn-medium') %>
    </p>
  </div>

  <div class="page-header">
    <h1><small><%= t('actor_type.new.relationship_types') %></small></h1>
  </div>

  <div class='control-group'>
    <%= f.label(:relationship_types, t('actor_type.new.relationship_types'), :class => 'control-label') %>
    <div class='controls'>
      <%= f.collection_select(:relationship_types, RelationshipType.all(), :key, :name, {}, {:multiple => true}) %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit(t('actor_type.new.create_actor_type'), :class => 'btn btn-primary') %>
  </div>

<% end %>