<% @page_title = 'New ActorType' %>

<%= form_for(:actor_type, url: create_actor_types_path, html: {class: 'form-horizontal'}) do |f| %>
    <div class="control-group">
      <div class="controls">
        <%= f.hidden_field( list_information_types, {:id => 'information-type-select'}) %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label(:key, class: 'control-label') %>
      <div class="controls">
        <%= f.text_field(:key, placeholder: :key) %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label(:name, class: 'control-label') %>
      <div class="controls">
        <%= f.text_field(:name, placeholder: :name) %>
      </div>
    </div>


    <% for info_type in @information_types do %>
        <%= f.fields_for info_type do |it_form| %>
        <div class="control-group">
          <%= it_form.label(:key, info_type.name, class: 'control-label') %>
          <div class="controls">
            <%= it_form.check_box(:key, info_type.name) %>
          </div>
        </div>
        <% end %>
    <% end %>
    <div class="form-actions">
      <%= f.submit(:create, class: 'btn btn-primary') %>
    </div>
<% end %>