<% @page_title = t('actor_type.show.title', :actor_type => @actor_type.name) %>

<h4><%= t('actor_type.show.information_types') %></h4>
<table class="table table-hover">
  <tr>
    <th><%= t('actor_type.show.information_type_name') %></th>
    <th><%= t('actor_type.show.information_type_key') %></th>
  </tr>
  <% for info_type in @actor_type.information_type %>
      <tr>
        <td><%= info_type.name %></td>
        <td><%= info_type.key %></td>
      </tr>
  <%end %>
</table>

<%= link_to(t('actor_type.show.edit_actor_type'), edit_actor_type_path(@actor_type)) %>
