<% @page_title = t('devise.registration.edit.title', :profile => resource_name.to_s.humanize) %>


<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :class => 'form-horizontal', :method => :put }) do |f| %>

  <%= devise_error_messages! %>

  <div class="control-group">
    <%= f.label(:email, t('form.email'), :class => 'control-label') %>
    <div class="controls">
      <%= f.email_field(:email, :placeholder => t('form.email'), :autofocus => true) %>
    </div>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div class="control-group">
      Currently waiting confirmation for: <%= resource.unconfirmed_email %>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label(:password, t('form.password'), :class => 'control-label') %>
    <div class="controls">
      <%= f.password_field(:password, :placeholder => t('form.password'), :autocomplete => "off") %>
      <span class="help-block"><i>(leave blank if you don't want to change it)</i></span>
    </div>
  </div>

  <div class="control-group">
    <%= f.label(:password_confirmation, t('form.password_confirm'), :class => 'control-label') %>
    <div class="controls">
      <%= f.password_field(:password_confirmation, :placeholder => t('form.password')) %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label(:current_password, t('form.current_password'), :class => 'control-label') %>
    <div class="controls">
      <%= f.password_field(:current_password, :placeholder => t('form.current_password')) %>
      <span class="help-block"><i>(we need your current password to confirm your changes)</i></span>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit(t('form.update'), :class => 'btn btn-primary') %>
  </div>
<% end %>

<hr>

<h3><%= t('devise.registration.edit.cancel_account') %></h3>

<div class="form-actions">
  <%= button_to(t('devise.registration.edit.cancel_account'), registration_path(resource_name),
                :class => 'btn btn-primary', :data => { :confirm => "Are you sure?" }, :method => :delete) %>
</div>
