<% @page_title = t('relationship_type.edit.title') %>


<%= form_for(@relationship_type, :url => update_relationship_type_path, :method => :post, :html => {:class => 'form-horizontal'}) do |f| %>

  <div class="control-group">
    <%= f.label(:'name[en]', "#{t('relationship_type.edit.name')} (#{t('lang.en')})", :class => 'control-label') %>
    <div class="controls">
      <%= f.text_field('name[en]', :value => @relationship_type.name_translations['en'], :required => true) %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label(:'name[de]', "#{t('relationship_type.edit.name')} (#{t('lang.de')})", :class => 'control-label') %>
    <div class="controls">
      <%= f.text_field('name[de]', :value => @relationship_type.name_translations['de'], :required => true) %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label(:'name[fr]', "#{t('relationship_type.edit.name')} (#{t('lang.fr')})", :class => 'control-label') %>
    <div class="controls">
      <%= f.text_field('name[fr]', :value => @relationship_type.name_translations['fr'], :required => true) %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label(:'name[it]', "#{t('relationship_type.edit.name')} (#{t('lang.it')})", :class => 'control-label') %>
    <div class="controls">
      <%= f.text_field('name[it]', :value => @relationship_type.name_translations['it'], :required => true) %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit(t('form.update'), :class => 'btn btn-primary') %>
  </div>

<% end %>
