<%= content_for :admin_tab_bar do %>
    <% render :partial => 'shared/menuebar', :locals => {:actor_type => "", :info_type => "", :import => "",
                                                         :scope => "", :relationship_type => "active"} %>
<% end %>

<% @page_title = t('relationship_type.edit.title') %>


<%= form_for(@relationship_type, :url => update_relationship_type_path, :method => :post, :html => {:class => 'form-horizontal'}) do |f| %>

  <% [:en, :de, :fr, :it].each do |current_locale| %>
    <div class="control-group">
      <%= f.label("name_translations[#{current_locale}]", "#{t('relationship_type.edit.name')} (#{t("lang.#{current_locale}")})", class: 'control-label') %>
      <div class="controls">
        <%= f.text_field(:"name_translations[#{current_locale}]", :placeholder => t('relationship_type.edit.name'), :value => @relationship_type.name_translations[current_locale.to_s], :required => true) %>
      </div>
    </div>
  <% end %>

  <% [:en, :de, :fr, :it].each do |current_locale| %>
    <div class="control-group">
      <%= f.label("question_translations[#{current_locale}]", "#{t('relationship_type.edit.question')} (#{t("lang.#{current_locale}")})", class: 'control-label') %>
      <div class="controls">
        <%= f.text_field(:"question_translations[#{current_locale}]", :placeholder => t('relationship_type.edit.question'), :value => @relationship_type.question_translations[current_locale.to_s], :required => true, class: 'span8') %>
      </div>
    </div>
  <% end %>

  <div class="form-actions">
    <%= f.submit(t('form.update'), :class => 'btn btn-primary') %>
  </div>

<% end %>
