<%= content_for :admin_tab_bar do %>
    <% render :partial => 'shared/menuebar', :locals => {:actor_type => "", :info_type => "", :import => "",
                                                         :scope => "", :relationship_type => "active"} %>
<% end %>

<% @page_title = t('relationship_type.list.title') %>


<div class="row">
  <div class="row pull-right bottom-margin">
    <%= link_to(t('relationship_type.list.new_relationship_type'), create_relationship_type_path, :class => 'btn btn-primary') %>
  </div>
</div>

<table class="table table-hover">
  <tr>
    <th><%= t('relationship_type.list.name_table') %></th>
    <th><%= t('relationship_type.list.key_table') %></th>
    <th><%= t('relationship_type.list.actions_table') %></th>
  </tr>
  <% @relationship_types.each do |relationship_type| %>
    <tr>
      <td><%= link_to(relationship_type, show_relationship_type_path(relationship_type)) %></td>
      <td><%= relationship_type.key %></td>
      <td>
        <%= link_to(raw('<i class="icon-edit"></i>'), edit_relationship_type_path(relationship_type)) %>
        <%= link_to(raw('<i class="icon-trash"></i>'), delete_relationship_type_path(relationship_type), :confirm => t('relationship_type.list.sure_to_delete'), :method => :delete) %>
      </td>
    </tr>
  <% end %>
</table>
