<%= content_for :admin_tab_bar do %>
    <% render :partial => 'shared/menuebar', :locals => {:actor_type => "", :info_type => "", :import => "",
                                                         :scope => "", :relationship_type => "active", :invitation => ""} %>
<% end %>

<% @page_title = t('relationship_type.new.title') %>


<%= form_for(:relationship_type, :url => create_relationship_type_path, :html => {:class => 'form-horizontal'}) do |f| %>

  <% [:en, :de, :fr, :it].each do |current_locale| %>
    <div class="control-group">
      <%= f.label("name_translations[#{current_locale}]", "#{t('relationship_type.new.name')} (#{t("lang.#{current_locale}")})", class: 'control-label') %>
      <div class="controls">
        <%= f.text_field(:"name_translations[#{current_locale}]", :placeholder => t('relationship_type.new.name'), :required => true) %>
      </div>
    </div>
  <% end %>

  <% [:en, :de, :fr, :it].each do |current_locale| %>
    <div class="control-group">
      <%= f.label("question_translations[#{current_locale}]", "#{t('relationship_type.new.question')} (#{t("lang.#{current_locale}")})", class: 'control-label') %>
      <div class="controls">
        <%= f.text_field(:"question_translations[#{current_locale}]", :placeholder => t('relationship_type.new.question'), :required => true, class: 'span8') %>
      </div>
    </div>
  <% end %>

  <div class="form-actions">
    <%= f.submit(t('relationship_type.new.create_relationship_type'), :class => 'btn btn-primary') %>
  </div>

<% end %>