<%= content_for :admin_tab_bar do %>
    <% render :partial => 'shared/menuebar', :locals => {:actor_type => "", :info_type => "", :import => "",
                                                         :scope => "", :relationship_type => "active"} %>
<% end %>

<% @page_title = t('relationship_type.new.title') %>


<%= form_for(:relationship_type, :url => create_relationship_type_path, :html => {:class => 'form-horizontal'}) do |f| %>

  <div class="control-group">
    <%= f.label('name[en]', "#{t('relationship_type.new.name')} (#{t('lang.en')})", class: 'control-label') %>
    <div class="controls">
      <%= f.text_field(:'name[en]', :placeholder => t('relationship_type.new.name'), :required => true) %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label('name[de]', "#{t('relationship_type.new.name')} (#{t('lang.de')})", class: 'control-label') %>
    <div class="controls">
      <%= f.text_field(:'name[de]', :placeholder => t('relationship_type.new.name'), :required => true) %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label('name[fr]', "#{t('relationship_type.new.name')} (#{t('lang.fr')})", class: 'control-label') %>
    <div class="controls">
      <%= f.text_field(:'name[fr]', :placeholder => t('relationship_type.new.name'), :required => true) %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label('name[it]', "#{t('relationship_type.new.name')} (#{t('lang.it')})", class: 'control-label') %>
    <div class="controls">
      <%= f.text_field(:'name[it]', :placeholder => t('relationship_type.new.name'), :required => true) %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit(t('relationship_type.new.create_relationship_type'), :class => 'btn btn-primary') %>
  </div>

<% end %>