<% @page_title = t('search.show.title', :actor => @actor.to_s) %>
<span class="label"><%= @actor.actor_type.name %></span>

<p class="pull-right">
  <% if @options[:email] %>
      <%=  mail_to(@options[:email], t('search.show.email'),
                  :type => :button, :class => 'btn btn-small pull-right') %>
  <% end %>
  <% if @options[:street] and @options[:zip_code]%>
      <%=  link_to(t('search.show.map'), @maps_query,
                   :type => :button, :class => 'btn btn-small pull-right') %>
  <% end %>
</p>
<h1><small><%= t('search.show.details') %></small></h1>

<table class="table table-hover">
  <% @informations.each do |info| %>
      <tr>
        <td class="span2"><strong><%= info.information_type_decorator.name %></strong></td>
        <td class="span2"><%= info.value_to_s %></td>
        <td class="span6"></td>
      </tr>
      <tr></tr>
  <% end %>
  <tr>
</table>

<h1><small><%= t('search.show.relationships') %></small></h1>

<table class="table table-hover">
  <% @actor.relationships.each do |relationship| %>
      <tr>
        <td class="span2"><%= relationship.relationship_type.to_s %></td>
        <td class="span2"><%= link_to(relationship.reference.to_s, browse_actor_path(relationship.reference)) %></td>
        <td class="span6"><%= relationship.comment.to_s %></td>
      </tr>
  <% end %>

  <% if @actor.relationships.empty? %>
    <tr>
        <td><%= t('search.show.none_declared') %></td>
    </tr>
  <% end %>
</table>
