<ul class="nav nav-tabs">
  <li class="#{@ActTypes}"><%= link_to('ActorTypes', actor_types_path) %></li>
  <li class="#{@InfoTypes}"><%= link_to('InformationTypes', information_types_path) %></li>
  <li class="#{@Import}"><%= link_to('CSV Import', list_csv_files_path) %></li>
  <li class="#{@Scopes}"><%= link_to('Scopes', scopes_path) %></li>
  <li class="#{@RelationshipTypes}"><%= link_to('RelationshipTypes', relationship_types_path) %></li>
</ul>