<% @page_title = t('information_type.edit.title') %>


<%= form_for(@information_type, :url => update_information_type_path, :method => :post, :html => {:class => 'form-horizontal'}) do |f| %>
  <div class="control-group">
    <%= f.label(:'name[en]', "#{t('information_type.edit.name')} (#{t('lang.en')})", class: 'control-label') %>
    <div class="controls">
      <%= f.text_field(:'name[en]', :value => @information_type.name_translations['en'], :required => true) %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label(:'name[de]', "#{t('information_type.edit.name')} (#{t('lang.de')})", class: 'control-label') %>
    <div class="controls">
      <%= f.text_field(:'name[de]', :value => @information_type.name_translations['de'], :required => true) %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label(:'name[fr]', "#{t('information_type.edit.name')} (#{t('lang.fr')})", class: 'control-label') %>
    <div class="controls">
      <%= f.text_field(:'name[fr]', :value => @information_type.name_translations['fr'], :required => true) %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label(:'name[it]', "#{t('information_type.edit.name')} (#{t('lang.it')})", class: 'control-label') %>
    <div class="controls">
      <%= f.text_field(:'name[it]', :value => @information_type.name_translations['it'], :required => true) %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label(:key, t('information_type.edit.key'), :class => 'control-label') %>
    <div class="controls">
      <%= f.text_field(:key, :placeholder => t('information_type.edit.key')) %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label(:information_field_type, t('information_type.edit.field_type'), class: 'control-label')%>
    <div class="controls">
      <%= f.collection_select(:information_field_type, information_field_types, :key, :name, {:selected => @information_type.information_field_type.key}) %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :'information_field_type_data[en]', "#{t('information_type.edit.field_type_data')} (#{t('lang.en')})", class: 'control-label' %>
    <div class='controls'>
      <%= f.text_field(:'information_field_type_data[en]', :value => @information_type.data_translations['en'], :placeholder => "#{t('information_type.edit.field_type_data_placeholder')}") %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :'information_field_type_data[de]', "#{t('information_type.edit.field_type_data')} (#{t('lang.de')})", class: 'control-label' %>
    <div class='controls'>
      <%= f.text_field(:'information_field_type_data[de]', :value => @information_type.data_translations['de'], :placeholder => "#{t('information_type.edit.field_type_data_placeholder')}") %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :'information_field_type_data[fr]', "#{t('information_type.edit.field_type_data')} (#{t('lang.fr')})", class: 'control-label' %>
    <div class='controls'>
      <%= f.text_field(:'information_field_type_data[fr]', :value => @information_type.data_translations['fr'], :placeholder => "#{t('information_type.edit.field_type_data_placeholder')}") %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :'information_field_type_data[it]', "#{t('information_type.edit.field_type_data')} (#{t('lang.it')})", class: 'control-label' %>
    <div class='controls'>
      <%= f.text_field(:'information_field_type_data[it]', :value => @information_type.data_translations['it'], :placeholder => "#{t('information_type.edit.field_type_data_placeholder')}") %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label(t('information_type.edit.predefined_scope'), class: 'control-label')%>
    <div class="controls">
      <%= f.collection_select(:scope, list_scopes, :key, :name, {prompt: t('information_type.edit.predefined_scope_prompt')}) %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit(t('information_type.edit.update_information_type'), :class => 'btn btn-primary') %>
  </div>
<% end %>