<%= content_for :admin_tab_bar do %>
    <% render :partial => 'shared/menuebar', :locals => {:actor_type => "", :info_type => "active", :import => "",
                                                         :scope => "", :relationship_type => ""} %>
<% end %>

<% @page_title = t('information_type.edit.title') %>


<%= form_for(:information_type_edited, :url => update_information_type_path, :method => :post, :html => {:class => 'form-horizontal'}) do |f| %>
  <div class="control-group">
    <%= f.label(:'name[en]', "#{t('information_type.edit.name')} (#{t('lang.en')})", class: 'control-label') %>
    <div class="controls">
      <%= f.text_field(:'name[en]', :value => @information_type.name_translations['en'], :required => true) %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label(:'name[de]', "#{t('information_type.edit.name')} (#{t('lang.de')})", class: 'control-label') %>
    <div class="controls">
      <%= f.text_field(:'name[de]', :value => @information_type.name_translations['de'], :required => true) %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label(:'name[fr]', "#{t('information_type.edit.name')} (#{t('lang.fr')})", class: 'control-label') %>
    <div class="controls">
      <%= f.text_field(:'name[fr]', :value => @information_type.name_translations['fr'], :required => true) %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label(:'name[it]', "#{t('information_type.edit.name')} (#{t('lang.it')})", class: 'control-label') %>
    <div class="controls">
      <%= f.text_field(:'name[it]', :value => @information_type.name_translations['it'], :required => true) %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label(:key, t('information_type.edit.key'), :class => 'control-label') %>
    <div class="controls">
      <%= f.text_field(:key, :value => @information_type.key, :placeholder => t('information_type.edit.key')) %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label(:information_field_type, t('information_type.edit.field_type'), class: 'control-label')%>
    <div class="controls">
      <%= f.collection_select(:information_field_type, information_field_types, :key, :name, {:selected => @information_type.information_field_type.key}, {:onchange => "SGfM.information_type.render_options_form(\"#{information_type_data_form_path}\", this.value)", :id => 'data-select'}) %>
    </div>
  </div>

  <div id="data-options"></div>

  <div class="control-group">
    <%= f.label(t('information_type.edit.predefined_scope'), class: 'control-label')%>
    <div class="controls">
      <% if @information_type.scope %>
        <%= f.collection_select(:scope, list_scopes, :key, :name, {:prompt => t('information_type.edit.predefined_scope_prompt'), :selected => @information_type.scope.key}) %> <!-- prompt doesn't work -.- -->
      <% else %>
        <%= f.collection_select(:scope, list_scopes, :key, :name, {:prompt => t('information_type.edit.predefined_scope_prompt')}) %>
      <% end %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit(t('information_type.edit.update_information_type'), :class => 'btn btn-primary') %>
  </div>
<% end %>

<script>
  $('document').ready(function() {
    SGfM.information_type.render_options_form("<%= information_type_data_form_path %>", $('#data-select').val(), "<%= @information_type.id %>");
  })
</script>