<%= content_for :admin_tab_bar do %>
    <% render :partial => 'shared/menuebar', :locals => {:actor_type => "", :info_type => "active", :import => "",
                                                         :scope => "", :relationship_type => "", :invitation => ""} %>
<% end %>

<% @page_title = t('information_type.list.title') %>


<div class="row pull-right bottom-margin">
  <%= link_to(t('information_type.list.new_information_type'), create_information_type_path, :class => 'btn btn-primary') %>
</div>

<table class="table table-hover">
  <tr>
    <th><%= t('information_type.list.name_table') %></th>
    <th><%= t('information_type.list.key_table') %></th>
    <th><%= t('information_type.list.field_type_table') %></th>
    <th><%= t('information_type.list.actions_table') %></th>
  </tr>
  <% for information_type in @information_types %>
    <tr>
      <td><%= link_to(information_type.name, show_information_type_path(information_type)) %></td>
      <td><%= information_type.key %></td>
      <td><%= information_type.information_field_type.name %></td>
      <td>
        <%= link_to raw('<i class="icon-edit"></i>'), edit_information_type_path(information_type) %>
        <%= link_to(raw('<i class="icon-trash"></i>'), delete_information_type_path(information_type), :confirm => t('information_type.list.sure_to_delete'), :method => :delete) %>
      </td>
    </tr>
  <% end %>
</table>