<%= content_for :admin_tab_bar do %>
    <% render :partial => 'shared/menuebar', :locals => {:actor_type => "", :info_type => "", :import => "",
                                                         :scope => "active", :relationship_type => ""} %>
<% end %>

<% @page_title = t('scopes.edit.title') %>

<% content_for :header do %>
  <%= javascript_include_tag 'bootstrap-multiselect' %>
  <%= javascript_include_tag 'scopes/multiselect_initializer' %>
<% end %>

<%= form_for(:edited_scope, url: edit_scope_path, html: {class: 'form-horizontal'}) do |f| %>
  <%# TODO: There might be more elegant ways to solve the localization issue. %>
  <div class="control-group">
    <%= f.label(t('scopes.new.name'), class: 'control-label') %>
    <div class="controls">
      <% temp_locale = I18n.locale %>
      <%	I18n.locale = :en %>
          <%= f.text_field(:'name[en]', placeholder: t('lang.en'), value: @scope.name, required: true) %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label(t('scopes.new.name'), class: 'control-label') %>
    <div class="controls">
      <%	I18n.locale = :de %>
      <%= f.text_field(:'name[de]', placeholder: t('lang.de'), value: @scope.name, required: true) %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label(t('scopes.new.name'), class: 'control-label') %>
    <div class="controls">
      <%	I18n.locale = :fr %>
      <%= f.text_field(:'name[fr]', placeholder: t('lang.fr'), value: @scope.name, required: true) %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label(t('scopes.new.name'), class: 'control-label') %>
    <div class="controls">
      <%	I18n.locale = :it %>
      <%= f.text_field(:'name[it]', placeholder: t('lang.it'), value: @scope.name, required: true) %>
    </div>
  </div>

  <% I18n.locale = temp_locale %>

  <div class="control-group">
    <%= f.label(t('scopes.edit.list'), class: 'control-label') %>
    <div class="controls">
      <%= f.select('list', options_from_collection_for_select(list_account_types, :to_s, :to_s, selected: @scope.list), {}, {class: 'multiselect', multiple: true})%>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit(t('scopes.edit.save_scope'), class: 'btn btn-primary') %>
  </div>
<% end %>