<% @page_title = t('scopes.list.title') %>


<div class="row pull-right">
  <% #link_to(t('scopes.list.new_scope'), create_scope_path, :class => 'btn btn-primary') %>
</div>

<table class="table table-hover">
  <tr>
    <th><%= t('scopes.list.name_table') %></th>
    <th><%= t('scopes.list.key_table') %></th>
    <th><%= t('scopes.list.type_table') %></th>
    <th><%= t('scopes.list.list_contents_table') %></th>
  </tr>
  <% @scopes.each do |scope| %>
    <tr>
      <td><%= scope.name  %></td>
      <td><%= scope.key.to_s %></td>
      <td><%= scope.to_s %></td>
      <td>
        <% scope.list.each do |item| %>
          <%= "#{item.to_s};" %>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>