<% @page_title = t('scopes.list.title') %>


<div class="row pull-right bottom-margin">
  <%= link_to(t('scopes.list.new_scope'), create_scope_path, class: 'btn btn-primary') %>
</div>

<table class="table table-hover">
  <tr>
    <th><%= t('scopes.list.name_table') %></th>
    <th><%= t('scopes.list.key_table') %></th>
    <th><%= t('scopes.list.type_table') %></th>
    <th><%= t('scopes.list.list_contents_table') %></th>
    <th><!-- commands (delete, edit, ...)--></th>
  </tr>
  <% @scopes.each do |scope| %>
    <tr>
      <td><%= scope.name %></td>
      <td><%= scope.key.to_s %></td>
      <td><%= scope.to_s %></td>
      <td>
        <%= scope.list.join(", ") %>
      </td>
      <td>
        <%=  link_to(raw('<i class="icon-edit"></i>'), edit_scope_path(scope)) %>
        <%=  link_to(raw('<i class="icon-trash"></i>'), delete_scope_path(scope), method: :delete, confirm: t('scopes.destroy.confirmation')) %>
      </td>
    </tr>
  <% end %>
</table>