<%= fields_for(:relationship) do |f| %>

  <div class="control-group">
    <%= f.label(:type, 'Relationship Type', class: 'control-label') %>
    <div class="controls">
      <%= f.select(:type, relationship_types, {}, :name => :'relationship[type][]') %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label(:reference, 'Reference', class: 'control-label') %>
    <div class="controls">
      <input type="hidden" id="e1" name="relationship[reference][]">

    </div>
  </div>

<% end %>


<!-- todo very unclean, this way with each new relationship field, the script gets dublicatet-->
<script>
  $('document').ready(function() {

    var data = [<%= raw(all_actors.map { |a| "{id:'#{a.id}',text:'#{a.to_s}'}" }.join(', ')) %>];

    function format(item) {
      return item.text;
    };

    $("#e1").select2({
      width: '500',
      data:{ results: data },
      formatSelection: format,
      formatResult: format
    });
  });
</script>