<%= content_tag(:div, :id => "relationship_#{field_number}") do %>

  <%= fields_for(:relationship) do |f| %>

    <div class="control-group">
      <%= f.label(:relationship_type, t('actor.new.relationship_type'), class: 'control-label') %>
      <div class="controls">
        <%= f.select(:relationship_type, relationship_types.map{ |type| [type.name, type.key] }, {}, :name => :'relationship[relationship_type][]', :required => true) %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label(:reference, t('actor.new.relationship_reference'), class: 'control-label') %>
      <div class="controls">
        <%= f.hidden_field(:reference, :id => 'e1', :name => 'relationship[reference][]', :required => true) %>
        <p class="pull-right">
          <%= link_to_function(raw("<i class='icon-remove icon-white'></i>#{t('actor.new.remove_relationship')}"),
                               "SGfM.relationship.remove_relationship_form(\"#{field_number}\")",
                               :type => :button, :class => 'btn btn-danger') %>
        </p>
      </div>
    </div>

    <div class="control-group">
      <%= f.label(:comment, t('actor.new.relationship_comment'), class: 'control-label') %>
      <div class="controls">
        <%= f.text_area(:comment, :name => 'relationship[comment][]', :rows => '3') %>
      </div>
    </div>

  <% end %>


  <!-- todo very unclean, this way with each new relationship field, the array gets duplicated-->
  <!-- todo fix this, then go change method in javascript file from 'add_form_after' to 'add_form' and delete 'add_form_after'-->
  <!-- todo ask oli if above line is unclear ;) -->
  <!-- todo what? lool? -->
  <script>
    $('document').ready(function() {

      var data = [<%= raw(all_actors.map { |a| "{id:'#{a.id}',text:'#{a.to_s}'}" }.join(', ')) %>];
      function format(item) { return item.text; };

      $("#e1").select2({
        width: '500',
        data:{ results: data },
        formatSelection: format,
        formatResult: format
      });

    });
  </script>

<% end %>