<%= fields_for(:relationship) do |f| %>

  <div class="control-group">
    <%= f.label(:type, 'Relationship Type', class: 'control-label') %>
    <div class="controls">
      <%= f.select(:type, relationship_types, {}, :name => :'relationship[type][]') %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label(:reference, 'Reference', class: 'control-label') %>
    <div class="controls">
      <%= f.text_field(:reference, :name => :'relationship[reference][]') %>
    </div>
  </div>

<% end %>