<% @scopes = list_scopes %>
<%= fields_for(:actor) do |f| %>
    <% information_types.each do |information| %>
        <%= f.fields_for(:information) do |information_form|  %>
            <div class="control-group">
                <%= information_form.label(information.key, information.name, class: 'control-label') %>
                <div class="controls">
                    <%= information_form.text_field(information.key, placeholder: information.name, :value => nil, required: true) %>
                    <% if information.scope %>
                      <%#TODO refactor. Add translation %>
                      <%=  f.label(information.scope.name) %>
                    <% else %>
                      <%= f.collection_select("scope[#{information.key}]", @scopes, :key, :name)%>
                    <% end %>
                </div>
            </div>
        <% end %>
    <% end %>
    <%= f.hidden_field(:actor_type_key, value: actor_type_key) %>
<% end %>

