<% @scopes = list_scopes %>
<%= fields_for(:actor) do |f| %>
    <% information_types.each do |information_type| %>
        <%= f.fields_for(:information) do |info_form| %>
            <div class="control-group">
                <%= info_form.label(information_type.key, information_type.name, class: 'control-label') %>
                <div class="controls">
                    <%= information_type.information_field_type.form(info_form, information_type.key, { :placeholder => information_type.name, :data => information_type.data, :required => true }) %>
                    <% if information_type.scope %>
                        <select disabled="disabled">
                            <option><%= information_type.scope.name %></option>
                        </select>
                    <% else %>
                        <%= f.collection_select("scope[#{information_type.key}]", @scopes, :key, :name)%>
                    <% end %>
                </div>
            </div>
        <% end %>
    <% end %>

    <%= f.hidden_field(:actor_type_key, value: actor_type_key) %>
<% end %>