<%= fields_for :relationships do |f| %>
  <% relationship_types.each_index do |index| %>
    <% relationship_type = relationship_types[index] %>
    <div class="accordion-group">
      <div class="accordion-heading">
        <%= content_tag(:p, relationship_type.name, :id => "title-rel#{index}") %>
      </div>
      <%=content_tag(:div, class: 'accordion-body collapse in', id: "rel#{index}") do %>
        <div class="accordion-inner">
          <%= f.fields_for(:"#{relationship_type.key}") do |ff| %>
            <div class="page-header">
              <h1><small><%= relationship_type.question %></small></h1>
            </div>
            <% if index == 0 %>
              <%= link_to_function(t('actor.new.back_button'), "transition(\"rel#{index}\", \"information\")", :type => :btn, :class => 'btn btn-info') %>
            <% else %>
              <%= link_to_function(t('actor.new.back_button'), "transition(\"rel#{index}\", \"rel#{index - 1}\")", :type => :btn, :class => 'btn btn-info') %>
            <% end %>
            <%= link_to_function(t('actor.new.next_button'), "transition(\"rel#{index}\", \"rel#{index + 1}\")", :type => :btn, :class => 'btn btn-info') %>
          <% end %>
        </div>
      <% end %>
    </div>
  <% end %>
  <div class="accordion-group">
    <div class="accordion-heading">
      <%= content_tag(:p, t('actor.new.submit_title'), :id => "title-rel#{relationship_types.length}") %>
    </div>
    <%=content_tag(:div, class: 'accordion-body collapse in', id: "rel#{relationship_types.length}") do %>
      <div class="accordion-inner">
        <%= link_to_function(t('actor.new.back_button'), "transition(\"rel#{relationship_types.length}\", \"rel#{relationship_types.length - 1}\")", :type => :btn, :class => 'btn btn-info') %>
        <%= link_to_function(t('actor.new.beginning_button'), "transition(\"rel#{relationship_types.length}\", \"actor-type\")", :type => :btn, :class => 'btn btn-info') %>
        <br>
        <%= f.submit(t('actor.new.create_actor'), class: 'btn btn-large btn-primary') %>
      </div>
    <% end %>
  </div>

<% end %>

<script>
  $('document').ready(function() {
    for(var i = 0; i < <%= relationship_types.length + 1 %>; i++) {
      $('#rel' + i).collapse('hide');
    }
  })
</script>