<%= content_tag(:div, id: "rel#{key}_#{field_number}") do %>
  <%= fields_for(:relationships) do |f| %>
    <%= f.fields_for(:"#{key}") do |ff| %>
      <%= ff.fields_for(:"#{field_number}") do |fff| %>
        <div class="control-group">
          <%= fff.label(:reference, t('actor.new.relationship_reference'), class: 'control-label') %>
          <div class="controls">
            <%= fff.hidden_field(:reference, :id => "sel#{key}#{field_number}") %>
            <% if local_assigns[:remove] %>
              <p class='pull-right'>
                <%= link_to_function(raw("<i class='icon-remove icon-white'></i>"), "SGfM.form.remove_form(\"rel#{key}\", #{field_number})", type: :btn, class: 'btn btn-danger') %>
              </p>
            <% end %>
          </div>
        </div>
        <div class="control-group">
          <%= fff.label(:comment, t('relationship.new.relationship_comment'), class: 'control-label') %>
          <div class="controls">
            <%= fff.text_area(:comment, { :rows => '3' }) %>
            <p class='pull-right'>
              <% first = true %>
              <div class="btn-group" data-toggle-name="<%= "relationship[scope]" %>" data-toggle="buttons-radio" >
                <% scopes.each do |scope| %>
                  <% if first %>
                    <%= fff.hidden_field :scope, :value => scope.key %>
                  <% end %>
                  <button type="button" value="<%= scope.key %>" class="btn  <%= 'active' if first %>" ><%=  scope.name %></button>
                  <% first = false %>
                <% end %>
              </div>
            </p>
          </div>
        </div>
      <% end %>
    <% end %>
  <% end %>
<% end %>

<script>
  $('document').ready(function() {
    $(<%= raw("\"#sel#{key}#{field_number}\"") %>).select2({
      minimumInputLength: 3,
      width: '500',
      data:{ results: data },
      formatSelection: format,
      formatResult: format
    });
  })
</script>