<%= content_tag(:div, id: "rel#{key}_#{field_number}") do %>
  <%= fields_for(:relationships) do |f| %>
    <%= f.fields_for(:"#{key}") do |ff| %>
      <div class="control-group">
        <%= ff.label(:"#{key}#{field_number}", t('actor.new.relationship_reference'), class: 'control-label') %>
        <div class="controls">
          <%= ff.hidden_field(:"#{key}#{field_number}", :id => "sel#{key}#{field_number}") %>
          <% if local_assigns[:remove] %>
            <p class='pull-right'>
              <%= link_to_function(raw("<i class='icon-remove icon-white'></i>"), "SGfM.form.remove_form(\"rel#{key}\", #{field_number})", type: :btn, class: 'btn btn-danger') %>
            </p>
          <% end %>
        </div>
      </div>
    <% end %>
  <% end %>
<% end %>

<script>
  $('document').ready(function() {
    $(<%= raw("\"#sel#{key}#{field_number}\"") %>).select2({
      width: '500',
      data:{ results: data },
      formatSelection: format,
      formatResult: format
    });
  })
</script>