<% @page_title = t('actor.edit.title') %>


<%= form_for(:actor, :url => update_actor_path, :method => :post, :html => {:class => 'form-horizontal'}) do |f| %>

  <div class="control-group">
    <%= f.label(:actor_type, t('actor.edit.type'), :class => 'control-label') %>
    <div class="controls">
      <%= f.text_field(:actor_type, :disabled => 'disabled') %>
    </div>
  </div>

  <%= f.fields_for(:information) do |info_form| %>
    <% @actor.informations.each do |information| %>
      <% information_field_type = information.information_type.information_field_type %>
      <div class="control-group">
        <%= f.label(information.information_type.key, information.information_type.name, :class => 'control-label') %>
        <div class="controls">
          <%= information_field_type.form(info_form, information.information_type.key, { :value => information.value,
        </div>
      </div>
    <% end %>
  <% end %>

  <% @actor.relationships.each do |relationship| %>
    <%= f.fields_for relationship do |info_form| %>
      <div class="control-group">
        <%= info_form.label(:relationship_type, t('actor.new.relationship_type'), class: 'control-label') %>
        <div class="controls">
          <%= info_form.select(:relationship_type, relationship_types.map{ |type| [type.name, type.key] }, {}, :selected => RelationshipType.find_by_key(relationship.relationship_type.key), :name => :'relationship[relationship_type][]', :required => true) %>
        </div>
      </div>

      <div class="control-group">
        <%= info_form.label(:reference, t('actor.new.relationship_reference'), class: 'control-label') %>
        <div class="controls">
          <%= info_form.text_field(:reference, :value => relationship.reference.to_s, :disabled => true) %>
        </div>
      </div>

      <div class="control-group">
        <%= info_form.label(:comment, t('actor.new.relationship_comment'), class: 'control-label') %>
        <div class="controls">
          <%= info_form.text_area(:comment, :name => :'relationship[comment][]', :rows => 3) %>
        </div>
      </div>
    <% end %>
  <% end %>

  <div class="form-actions">
    <%= f.submit(t('form.update'), :class => 'btn btn-primary') %>
  </div>

<% end %>
