<% @page_title = t('actor.edit.title') %>


<%= form_for(@actor, :url => update_actor_path, :method => :post, :html => {:class => 'form-horizontal'}) do |f| %>

  <div class="control-group">
    <%= f.label(:actor_type, t('actor.edit.type'), :class => 'control-label') %>
    <div class="controls">
      <%= f.text_field(:actor_type, :disabled => 'disabled') %>
    </div>
  </div>

  <!-- todo this code sucks i guess -->
  <% @actor.informations.each do |information|%>
    <%=  f.fields_for information do |info_form| %>
      <div class="control-group">
        <%= info_form.label(information.information_type.key, information.information_type.name, :class => 'control-label') %>
        <div class="controls">
          <%= information_field_type = information.information_type.information_field_type
              information_field_type.form(info_form, information.information_type.key, { :value => information.value,
                                                                                         :placeholder => information.information_type.name,
                                                                                         :data => information.information_type.data,
                                                                                         :required => true } ) %>
        </div>
      </div>
    <% end %>
  <% end %>

  <div class="form-actions">
    <%= f.submit(t('form.update'), :class => 'btn btn-primary') %>
  </div>

<% end %>
