<% @page_title = t('actor.edit.title') %>


<%= form_for(@actor, :url => update_actor_path, :method => :post, :html => {:class => 'form-horizontal'}) do |f| %>

  <div class="control-group">
    <%= f.label(:actor_type, t('actor.edit.type'), :class => 'control-label') %>
    <div class="controls">
      <%= f.text_field(:actor_type, :disabled => 'disabled') %>
    </div>
  </div>

  <%= f.fields_for(:information) do |info_form| %>
    <% @actor.actor_type.information_type_decorators.each do |decorator| %>
      <%information = @actor.find_information_by_key(decorator.key)%>
      <% information_field_type = decorator.information_field_type %>
      <div class="control-group">
        <% if decorator.required %>
            <%=  info_form.label(decorator.key,  decorator.name+'*', class: 'control-label') %>
        <% else %>
            <%= info_form.label(decorator.key,  decorator.name, class: 'control-label') %>
        <% end %>
        <div class="controls">
          <% value = " " %>
          <% value = information.value unless information.nil? %>
          <%= information_field_type.form(info_form, decorator.key, { :value => value,
                                                                                         :placeholder => decorator.name,
                                                                                         :data => decorator.data,
                                                                                         :required => decorator.required } ) %>
          <% if decorator.scope %>
            <select disabled="disabled">
              <option><%= decorator.scope.name %></option>
            </select>
          <% else %>
            <% @scopes = list_scopes %>
            <% if information.nil? %>
              <%= select("actor[scope]", decorator.key.to_s, options_from_collection_for_select(@scopes, :key, :name))%>
            <% else %>
              <%= select("actor[scope]", decorator.key.to_s, options_from_collection_for_select(@scopes, :key, :name, selected: information.scope.key), {selected: information.scope.key})%>
            <% end %>
           <% end %>
        </div>
      </div>
    <% end %>
  <% end %>

  <div class="form-actions">
    <%= f.submit(t('form.update'), :class => 'btn btn-primary') %>
  </div>

<% end %>
