<% @page_title = t('actor.edit.title') %>


<%= form_for(@actor, :url => update_actor_path, :method => :post, :html => {:class => 'form-horizontal'}) do |f| %>

  <div class="control-group">
    <%= f.label(:actor_type, t('actor.edit.type'), :class => 'control-label') %>
    <div class="controls">
      <%= f.text_field(:actor_type, :disabled => 'disabled') %>
    </div>
  </div>

  <%= f.fields_for(:information) do |info_form| %>
    <% @actor.informations.each do |information| %>
      <% information_field_type = information.information_type.information_field_type %>
      <div class="control-group">
        <%= f.label(information.information_type.key, information.information_type.name, :class => 'control-label') %>
        <div class="controls">
          <%= information_field_type.form(info_form, information.information_type.key, { :value => information.value,
                                                                                         :placeholder => information.information_type.name,
                                                                                         :data => information.information_type.data,
                                                                                         :required => true } ) %>
          <% if information.information_type.scope %>
            <select disabled="disabled">
              <option><%= information.information_type.scope.name %></option>
            </select>
          <% else %>
            <% @scopes = list_scopes %>
            <%= select("actor[scope]", information.information_type.key.to_s, options_from_collection_for_select(@scopes, :key, :name, selected: information.scope.key), {selected: information.scope.key})%>
          <% end %>
        </div>
      </div>
    <% end %>
  <% end %>

  <div class="form-actions">
    <%= f.submit(t('form.update'), :class => 'btn btn-primary') %>
  </div>

<% end %>