<% @page_title = t('actor.show.title', :actor => @actor.to_s) %>
<div class="well">
  <div class="lead">
    <small><%= @actor.actor_type.name %></small>

    <p class="pull-right">
      <%= link_to(t('actor.show.edit_actor'), edit_actor_path(@actor), :class => 'btn btn-small') %>
    </p>
  </div>
    <table class="table table-condensed">
      <% @informations.each do |info| %>
          <tr>
            <td class="span2"><strong><%= info.information_type_decorator.name %></strong></td>
            <td class="span2"><%= info.value_to_s %></td>
            <td class="span5"></td>
            <td class="span1"></td>
          </tr>
          <tr></tr>
      <% end %>
      <tr>
    </table>

    <p class="pull-right">
      <%= link_to(t('actor.show.add_relationship'), create_relationship_path(@actor), :class => 'btn btn-small pull-right') %>
    </p>

    <div class="lead">
        <small><%= t('actor.show.relationships') %></small>
    </div>
    <table class="table table-condensed">
      <% @actor.relationships.each do |relationship| %>
          <tr>
            <td class="span2"><%= relationship.relationship_type.to_s %></td>
            <td class="span2"><%= link_to(relationship.reference.to_s, show_actor_path(relationship.reference)) %></td>
            <td class="span5"><%= relationship.comment.to_s %></td>
            <td class="span1">
              <%= link_to(raw('<i class="icon-edit"></i>'), edit_relationship_path(relationship)) %>
              <%= link_to(raw('<i class="icon-trash"></i>'), delete_relationship_path(relationship), :method => :delete) %>
            </td>
          </tr>
      <% end %>
      <% if @actor.relationships.empty? %>
          <tr>
            <td><%= t('actor.show.none_declared') %></td>
          </tr>
      <% end %>
    </table>
    <% if current_account.actors.size == 1 %>
        <div>   <!-- Not actually a dropdown. Just for styling !-->
          <a href="#options"  data-toggle="collapse" data-target="#options"><small><%= t('actor.show.more')%></small></a>
        </div>

        <div id="options" class="collapse">
          <a href=" <%=create_actor_path%>" class="btn btn-mini"><%= t('actor.show.add_another_actor') %></a>
        </div>
    <% end %>

</div>