<% @page_title = 'Your Actors' %>


<% for actor in @actors %>
  <p>
    <a href="<%= show_actor_path(actor) %>"><%=  actor.find_information_by_key(:name) %> (<%= actor.actor_type %>) created: <%= actor.created_at %></a>
  </p>
<% end %>

<%= link_to('new actor', create_actor_path) %>