<% @page_title = t('actor.list.title') %>


<div class="row">
  <div class="row pull-right">
    <%= link_to(t('actor.list.new_actor'), create_actor_path, :class => 'btn btn-primary') %>
  </div>
</div>

<div class="tabbable tabs-left">
  <ul class="nav nav-tabs">
    <% tab_count = 0 %>
    <% @actors_hash.keys.each do |actor_type| %>
      <% tab_count += 1 %>
      <li <%= 'class="active"' if tab_count == 1 %>>
        <%= content_tag(:a, :href => '#tab' + tab_count.to_s, :'data-toggle' => 'tab') do %>
          <%= actor_type %>
        <% end %>
      </li>
    <% end %>
  </ul>
  <div class="tab-content">
    <% tab_count = 0 %>
    <% @actors_hash.keys.each do |type| %>
      <% tab_count += 1 %>
      <%= content_tag(:div, :class => 'tab-pane' + ((tab_count == 1) ? ' active' : ''), :id => 'tab' + tab_count.to_s) do %>
        <table class="table table-hover">
          <tr>
            <th><%= t('actor.list.name_table') %></th>
            <th><%= t('actor.list.type_table') %></th>
          </tr>
          <% for actor in @actors_hash[type] %>
            <tr>
              <td><%= link_to(actor, show_actor_path(actor)) %></td>
              <td><%= actor.actor_type %></td>
            </tr>
          <% end %>
        </table>
      <% end %>
    <% end %>
  </div>
</div>
