<% @page_title = t('actor.new.title') %>

<%= form_for(:actor, :url => create_actor_path, :method => :post, :html => { :class => 'form-horizontal'}) do |f| %>
  <div class="accordion" id="new-actor">
    <div class="accordion-group">
      <div class="accordion-heading">
        <%= content_tag(:p, t('actor.new.type_title'), :class => 'lead', :id => 'title-actor-type') %>
      </div>
      <div id="actor-type" class="accordion-body collapse in">
        <div class="accordion-inner">
          <%= render :partial => 'actor/actor_type'%>
          <%= link_to_function(t('actor.new.next_button'), 'transition1()', :type => :btn, :class => 'btn btn-info') %>
        </div>
      </div>
    </div>
    <div class="accordion-group">
      <div class="accordion-heading">
        <%= content_tag(:p, t('actor.new.information_title'), :id => 'title-information') %>
      </div>
      <div id="information" class="accordion-body collapse in">
        <div class="accordion-inner">
          <div id="information-types-form"></div>
          <%= link_to_function(t('actor.new.next_button'), 'transition2()', :type => :btn, :class => 'btn btn-info') %>
        </div>
      </div>
    </div>
    <div class="accordion-group">
      <div class="accordion-heading">
        <%= content_tag(:p, t('actor.new.submit_title'), :id => 'title-submit') %>
      </div>
      <div id="submit" class="accordion-body collapse in">
        <div class="accordion-inner">
          <%= f.submit(t('actor.new.create_actor'), class: 'btn btn-large btn-primary') %>
        </div>
      </div>
    </div>

  </div>
<% end %>

<script>
  function transition1() {
    $('#actor-type').collapse('hide');
    $('#title-actor-type').removeClass('lead');
    $('#information').collapse('show');
    $('#title-information').addClass('lead');
  }
  function transition2() {
    $('#information').collapse('hide');
    $('#title-information').removeClass('lead');
    $('#submit').collapse('show');
    $('#title-submit').addClass('lead');
  }
  function transition1back() {
    $('#information').collapse('hide');
    $('#actor-type').collapse('show');
  }
  $('document').ready(function() {
    $('#information').collapse();
    $('#submit').collapse();
    SGfM.actor.render_matching_form('<%=information_types_for_actor_type_path%>',$('#actor-type-select').val());
  })
</script>