<% @page_title = t('actor.new.title') %>


<%= form_for(:actor, html: {class: 'form-horizontal'}) do |f| %>

  <input type="hidden" id="e1">

  <div class="control-group">
    <%= f.label(:actor_type, t('actor.new.select_type'), class: 'control-label') %>
      <div class="controls">
        <%= f.collection_select(:actor_type, list_actor_types, :key, :name, {}, {:id => 'actor-type-select',:onchange => "SGfM.actor.render_matching_form('"+information_types_for_actor_type_path+"',this.value)"}) %>
      </div>
  </div>

  <div id="information-types-form"></div>
  <div id="relationship-form"></div>

  <div>
    <%= button_to_function(:add_relationship, 'SGfM.relationship.render_additional_relationship_form("' + add_relationship_form_path + '")', :type => :button) %>
  </div>

  <div class="form-actions">
    <%= f.submit(t('actor.new.create_actor'), class: 'btn btn-large btn-primary') %>
  </div>

<% end %>


<script>
  $('document').ready(function() {

    var data=[<%= @all_actors.map { |a| '"' + a.to_s + '"' }.join(", ") %>];
    function format(item) { return item.tag; };


    $("#e1").select2({
      width: '500',
      data:{ results: data, text: 'tag' },
      formatSelection: format,
      formatResult: format
    });


    SGfM.actor.render_matching_form('<%=information_types_for_actor_type_path%>',$('#actor-type-select').val());
  });
</script>

