<% @page_title = t('actor.new.title') %>

<%= form_for(:actor, :url => create_actor_path, :method => :post, :html => { :class => 'form-horizontal', :onsubmit => 'on_submit()'}) do |f| %>
  <div class="accordion" id="new-actor">
    <div class="accordion-group">
      <div class="accordion-heading">
        <%= content_tag(:p, t('actor.new.type_title'), :class => 'lead', :id => 'title-actor-type') %>
      </div>
      <div id="actor-type" class="accordion-body collapse in">
        <div class="accordion-inner">
          <%= render :partial => 'actor/actor_type'%>
          <%= link_to_function(t('actor.new.next_button'), 'transition1()', :type => :btn, :class => 'btn btn-info') %>
        </div>
      </div>
    </div>
    <div class="accordion-group">
      <div class="accordion-heading">
        <%= content_tag(:p, t('actor.new.information_title'), :id => 'title-information') %>
      </div>
      <div id="information" class="accordion-body collapse in">
        <div class="accordion-inner">
          <div id="information-types-form"></div>
          <%= link_to_function(t('actor.new.back_button'), 'transition1back()', :type => :btn, :class => 'btn btn-info') %>
          <%= link_to_function(t('actor.new.next_button'), 'transition("information", "rel0")', :type => :btn, :class => 'btn btn-info') %>
        </div>
      </div>
    </div>
    <div id="predefined-questions-form"></div>
  </div>
<% end %>

<script>
  function actor_type_selected() {
    var val = $('#actor-type-select option:selected').val();
    SGfM.actor.render_matching_form(<%= raw "\"#{information_types_for_actor_type_path}\"" %>, val);
    SGfM.insert_form(<%= raw("\"#{predefined_questions_path}\"") %>, '#predefined-questions-form', {actor_type: val});
  }
  function transition(old_one, new_one) {
    $('#' + old_one).collapse('hide');
    $('#title-' + old_one).removeClass('lead');
    $('#' + new_one).collapse('show');
    $('#title-' + new_one).addClass('lead');
  }
  function transition1() {
    transition('actor-type', 'information');
  }

  function transition1back() {
    transition('information', 'actor-type');
  }

  $('document').ready(function() {
    $('#information').collapse();
    var val = $('#actor-type-select option:selected').val();
    SGfM.actor.render_matching_form('<%=information_types_for_actor_type_path%>', val);
    SGfM.insert_form(<%= raw("\"#{predefined_questions_path}\"") %>, '#predefined-questions-form', {actor_type: val});
  })
</script>