<!DOCTYPE html>
<html>
  <head>
    <title>SGfM</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <div class="row-fluid header hidden-phone hidden-tablet collapse in" id="header" data-toggle="collapse" data-target="#header">
      <div class="span9 header-logo"></div>
      <div class="span3 header-right"></div>
    </div>
    <div class="navbar navbar-inverse">
      <div class="navbar-inner">
        <div class="row-fluid">
          <div class="span2">
            <ul class="nav">
              <li>
                <a href="#"  data-toggle="collapse" data-target="#header" id="anchor-around-header-arrow"><i class="icon icon-chevron-up icon-white" id="header-arrow"></i></a>
              </li>
            </ul>
          </div>
          <div class="span8">
            <!-- nav-bar title -->
            <a class="brand hidden-phone" href="<%= home_path %>"><%= image_tag('logo/qm_schriftzug.png', :width => '15', :height => '20') %></a>

            <!-- nav-bar menu left -->
            <ul class="nav">
              <li><%= link_to(t('home.index.title'), home_path) %></li>
            </ul>

            <!-- nav-bar menu right -->
            <% if login_signed_in? %>
              <ul class="nav pull-right">
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="#"><%= current_login.email %><b class="caret"></b></a>
                  <ul id="menu1" class="dropdown-menu">
                    <li><%= link_to(t('application.menu.profile'), logins_show_path) %></li>
                    <li><%= link_to(t('application.menu.actors'), actors_path) %></li>
                    <!-- check if user is a admin -->
                    <li class="divider"></li>
                    <li><%= link_to('All ActorTypes', list_actor_types_path) %></li>
                    <li><%= link_to('All InformationTypes', list_information_types_path) %></li>
                    <li><%= link_to('New ActorType', create_actor_types_path) %></li>
                    <li><%= link_to('New InformationType', create_information_types_path) %></li>
                    <li><%= link_to('Reset All', reset_all_path) %></li>
                  </ul>
                </li>

                <li class="divider-vertical"></li>
                <li><%= link_to(t('application.menu.settings'), edit_login_registration_path) %></li>
                <li class="divider-vertical"></li>
                <li><%= link_to(t('basic.sign_out'), destroy_login_session_path, :method => :delete) %></li>
              </ul>
            <% else %>
              <ul class="nav pull-right">
                <li><%= link_to(t('layout.sign_up'), new_login_registration_path) %></li>
                <li class="divider-vertical"></li>
                <li class="dropdown">
                  <%= link_to(raw(t('basic.sign_in') + '<strong class="caret"></strong>'), '#', :class => 'dropdown-toggle', :'data-toggle' => 'dropdown') %>
                  </a>
                  <div class="dropdown-menu" style="padding: 15px; padding-bottom: 0px;">
                    <%= form_for("login", :url => login_session_path, :html => { :class => 'navbar-form form-inline pull-right'}) do |f| %>
                      <%= f.text_field(:email, :placeholder => t('form.email')) %>
                      <%= f.password_field(:password, :placeholder => t('form.password')) %>
                      <%= f.label(:remember_me) do %>
                        <%= f.check_box(:remember_me) %>
                        <%= t('form.remember') %>
                      <% end %>
                      <%= f.submit(t('basic.sign_in'), :class => 'btn btn-primary btn-block') %>
                      <%= link_to(t('basic.forgot_password'), new_login_password_path('login')) %>
                    <% end %>
                  </div>
                </li>
              </ul>
            <% end %>

          </div>
        </div>
      </div>
    </div>

    <!-- flash-messages -->
    <div class="row-fluid">
      <div class="span8 offset2">
        <%= render partial: "shared/flashes", flash: flash %>
      </div>
    </div>

    <!-- main div -->
    <div class="row-fluid">
      <div class="span8 offset2">
        <p class="pull-right">
          <%= link_to('de', :locale => 'de') %>
          <%= link_to('fr', :locale => 'fr') %>
          <%= link_to('it', :locale => 'it') %>
          <%= link_to('en', :locale => 'en') %>
        </p>
        <h1><%= @page_title %></h1>
        <%= yield %>
      </div>
    </div>

  </body>
</html>


<script>
  $(function() {
    // Setup drop down menu
    $('.dropdown-toggle').dropdown();

    // Fix input element click problem
    $('.dropdown input, .dropdown label').click(function(e) {
      e.stopPropagation();
    });
  });

  $('#anchor-around-header-arrow').click(
    function(obj){
        if ($('#header-arrow').hasClass('icon-chevron-up')) {
          $('#header-arrow').removeClass('icon-chevron-up');
          $('#header-arrow').addClass('icon-chevron-down');
        } else {
          $('#header-arrow').removeClass('icon-chevron-down');
          $('#header-arrow').addClass('icon-chevron-up');
        }
      });




</script>
